*{
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    
}
.top{
    margin: -10px 0px -20px;
    border-bottom: solid 20px red;
    height: 50px;
    width: 100%;
    background-color: yellow;
}
a{
    display: inline-block;
    font-size: 2em;
}
a:visited{
    color: white;
    font-size: 2em;
}
.midpart{
    margin: 0px 20px 0px;
    height: 400px;
    width: 97%;
    background-image: url(img/304293_c2cb2d91399553c7868775bf3c67026f25a10dd3.jpg_facebook.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
h1{
    color:white;
    text-align: left;
    font-size: 5.5em;
    
}
h2{
    color: white;
    text-align: left;
    font-size: 5em;
}
.heading{
    font-size: 3em;
    padding:-10px;
}
li{font-size: 1em;}
small{font-size: 0.4em;}